.container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 0px auto;
    text-align: center;
    padding: 20px 30px 0px 30px;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(172, 169, 169);
    border: 1px solid #03343a;
}
.container h4{
font-size: 25px;
margin-bottom: 43px;
}

.form_input div {
    margin: 30px 0px;
}

.form_input div input {
    width: 300px;
    height: 40px;
    color: #010e10;
    padding-left: 10px;
    font-weight: bold;
    outline: none;
    border: 1px solid #03343a;
    border-radius: 10px;
    font-size: 15px;
}
.loginbtn {
    margin-top: 32px;
}